/* ================================================== *\
	Variables
\* ================================================== */

$bcg-color: rgb(38, 126, 226);
$white-color: rgba(255, 255, 255, 1);
$gray-color: rgb(231, 231, 231);
