/* ================================================== *\
	Variables
\* ================================================== */
@import url("https://fonts.googleapis.com/css?family=Monoton|Roboto+Condensed:300,400,700");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }

.login-form {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center; }

#login__cross {
  display: flex;
  justify-content: flex-end;
  color: gray;
  cursor: pointer;
  margin-bottom: 10px; }

.login__block {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center; }

#login__form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 430px;
  background-color: white;
  justify-content: center;
  padding: 20px 40px 30px 40px;
  border-radius: 5px; }
  #login__form input {
    height: 50px;
    margin-bottom: 30px;
    padding: 0 15px;
    font-size: 1.05rem; }
  #login__form label {
    margin-bottom: 10px;
    color: gray; }
  #login__form input[type="submit"] {
    margin-bottom: 0;
    background-color: #267ee2;
    border: 0;
    color: white;
    cursor: pointer; }
  #login__form input[type="button"] {
    background-color: white;
    border: 0;
    color: #267ee2;
    border: 2px solid #267ee2;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    transition: 0.3s; }
    #login__form input[type="button"]:hover {
      background-color: #267ee2;
      color: white; }
  #login__form a {
    margin-top: 20px; }

nav {
  width: 100%;
  height: 6em;
  position: absolute;
  display: flex;
  justify-content: center;
  line-height: 6em; }

.wrapper--flex {
  display: flex;
  flex-direction: flex;
  justify-content: space-between; }

.wrapper__element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .wrapper__element input {
    width: 110px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.05rem;
    transition: ease-in 0.2s; }
    .wrapper__element input:hover {
      background-color: white;
      color: rgba(24, 84, 216, 0.8); }
  .wrapper__element a {
    font-size: 2.2rem;
    color: white;
    font-family: "Monoton", cursive;
    letter-spacing: 1px;
    text-decoration: none; }
  .wrapper__element span {
    color: white;
    font-size: 30px;
    line-height: 40px;
    height: 40px; }
  .wrapper__element p {
    margin: 0 20px;
    color: white;
    font-size: 1.1rem; }
    .wrapper__element p a {
      font-size: 2.2rem;
      color: white;
      font-family: "Monoton", cursive;
      letter-spacing: 1px;
      text-decoration: none; }
  .wrapper__element i {
    color: white; }
  .wrapper__element .dropdown-a {
    font-size: 1rem;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none; }

.main-frontpage {
  background-image: url(../images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 70%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.wrapper {
  width: 1200px; }

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white; }
  .search__title {
    margin-bottom: 1.875em; }
    .search__title h1 {
      text-transform: uppercase;
      font-size: 3.75rem;
      font-weight: 400; }
  .search__subtitle {
    margin-bottom: 2.5em; }
    .search__subtitle p {
      font-size: 1.312rem;
      font-weight: 300; }
  .search__input input {
    width: 600px;
    height: 50px;
    border-radius: 4px;
    padding: 0 20px;
    border: 0;
    font-size: 1.1rem; }
  .search__input input[type="submit"] {
    width: 120px;
    margin-left: 20px;
    background-color: #267ee2;
    color: white;
    cursor: pointer; }
  .search__line {
    width: 100px;
    background-color: white;
    opacity: 0.5;
    margin-bottom: 30px;
    height: 2px; }

.register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #267ee2; }
  .register .container {
    width: 1100px; }
  .register__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 130 0px;
    background-color: white;
    justify-content: center;
    padding: 40px;
    border-radius: 5px;
    margin: 50px 0; }
    .register__form input {
      height: 50px;
      padding: 0 15px;
      font-size: 1.05rem; }
    .register__form label {
      margin-top: 30px;
      margin-bottom: 10px;
      color: gray; }
    .register__form label:first-child {
      margin-top: 0; }
    .register__form input[type="submit"] {
      margin-bottom: 0;
      background-color: #267ee2;
      border: 0;
      color: white;
      cursor: pointer; }
    .register__form input[type="button"] {
      background-color: white;
      border: 0;
      color: #267ee2;
      border: 2px solid #267ee2;
      cursor: pointer;
      width: 100%;
      margin-bottom: 0px;
      transition: 0.3s; }
      .register__form input[type="button"]:hover {
        background-color: #267ee2;
        color: white; }
  .register .checkbox-row {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 0; }
    .register .checkbox-row input {
      margin-bottom: 0; }
    .register .checkbox-row label {
      margin: 0;
      margin-left: 15px; }
  .register .form__error {
    margin-top: 10px;
    color: red;
    display: block; }
  .register .form__error:last-child {
    margin: 0; }

.navigation {
  width: 100%;
  height: 6em;
  position: static;
  display: flex;
  justify-content: center;
  line-height: 6em;
  background-color: #267ee2; }
  .navigation .wrapper {
    padding: 0 50px; }

.subpage-input {
  line-height: 30px;
  font-family: "Roboto Condensed", sans-serif; }

.searchbox {
  background-color: #e7e7e7;
  width: 100%;
  min-height: 300px;
  display: flex;
  padding: 30px 0; }

.row-search {
  display: flex; }

.row-price {
  display: flex;
  flex-direction: column;
  width: 300px; }

.price-width {
  width: 300px; }

.button-search {
  display: flex;
  justify-content: flex-end; }

.btn-search {
  width: 120px; }

.search-items {
  width: 100%;
  min-height: 500px;
  display: flex; }
  .search-items__block {
    display: flex;
    padding: 40px 0; }

.notice {
  width: 100%;
  min-height: 700px;
  padding: 30px 0; }
  .notice .container {
    height: 500px; }
  .notice ol {
    height: 40px; }

.account-settings {
  width: 100%;
  height: 500px;
  margin-top: 40px; }
  .account-settings .row {
    height: 500px; }

.add-notice {
  width: 100%;
  padding: 50px 0; }
  .add-notice .submit-notice {
    margin-left: auto !important; }
